<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor {{ nome_banco }}</title>
</head>
<body>
    <h1>Seja bem-vindo, Professor {{ nome_banco }}!</h1>
    <p>Cadastre um aluno no sistema:</p>

    <form action="/cadastrar_aluno" method="POST">
        <p><label for="inome_aluno">Nome do Aluno: </label>
        <input type="text" name="nome_aluno" id="inome_aluno" required></p>

        <p><label for="imatricula_aluno">Matrícula do Aluno: </label>
        <input type="text" name="matricula_aluno" id="imatricula_aluno" minlength="6" maxlength="14" required></p>

        <p><label for="itag_aluno">Tag RFID: </label>
        <input type="text" name="tag_aluno" id="itag_aluno" required></p>

        <p><button type="submit">Cadastrar Aluno</button></p>
    </form>

    <a href="{{ url_for('cadastrar') }}">Cadastrar novo usuário</a><br>
    <a href="{{ url_for('fazer_login') }}">Sair</a>

    <p>{{ msg }}</p>
</body>
</html>