<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazer Login</title>
</head>
<body>
    <form action='/login' method="post">
        <p><label for='imatricula'>Matricula: </label><input  type="text" name='matricula' id='imatricula' minlength="6" maxlength="14" required></input></p>

        <p><label for="ipassword">Senha: </label><input type="password" name="password" id='ipassword' required></input></p>
        <p><button type="submit">Enviar</button></p>
    </form>
    <a href=""></a>
</body>
</html>